#header {
	text-align: right;
	margin-top: 0 auto;
	margin-bottom: 120px;
	padding: 0px;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 13px;
}

#gmail_link {
	margin-right: 8px;
}

.hlink {
	color: #404040;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	display: block;
	margin: 0 auto;
	padding: 20px;
}

.headimg {
	display: inline;
	height: 15px;
	width: 15px;
	vertical-align: middle;
}

#search_bar {
	border: 1px solid #cccccc;
	margin: auto;
	height: 36px;
	width: 580px;
}

.button {
	background-color: #f1f1f1;
	margin: 40px auto auto auto;
	display: inline-block;
	width: 145px;
	height: 36px;
	border-radius: 2px;
}

.button:hover {
	border: 1px solid #c6c6c6;
	color: #222;
}

p {
	text-align: center;
	color: #757575;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
}

#search_button {
	margin-left: 500px;
}

#lucky_button {
	position: relative;
	margin-left: 8px;
}

#footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border: 1px solid #c6c6c6;
	background-color: #f6f6f6;
	height: 40px;
	width: 100%
	margin: 0 auto;
	padding: 10px 0px 0px 0px;
	font-size: 13px;
	font-family: sans-serif;
}

.lfooter {
	position: relative;	
	text-align: left;
	margin-left: 50px;
	color: #404040;
	text-decoration: none;
	vertical-align: middle;
}

.lfooter:hover {
	text-decoration: underline;
}

#about_footer {
	margin-right: 650px;
}

.rfooter {
	position: relative;
	text-align: right;
	margin-right: 50px;
	color: #404040;
	text-decoration: none;
	vertical-align: middle;
}
